body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.quiz-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-question {
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f7d7d7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.quiz-question-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.quiz-option {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.quiz-option:hover {
  background-color: #e0e0e0;
}

.quiz-submit {
  background-color: #4c4c4c;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.quiz-submit:hover {
  background-color: #2c2c2c;
}

.back-to-home {
  background-color: #4c4c4c;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  float: right;
}

.back-to-home:hover {
  background-color: #2c2c2c;
}


.quiz-form {
  margin-bottom: 50px;
}

